.header {
  background-color: var(--color-background-700);
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 20px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.toolbarLeftGroup {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 60px;
  height: 50px;
  margin-right: 35px;
}

.viewButtons {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}

.zoomButton {
  color: #ffffff;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-600);
  }
}

.historyButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  gap: 10px;
}

.historyIcon {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-600) !important;
  }
}

.zoom {
  display: flex;
  align-items: center;
  gap: 10px;

  &Button {
    width: 32px;
    height: 32px;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

.clear {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--color-primary-600);
  border-radius: 5px;
  color: #ffffff;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: transparent;
    transition: 0.3s;
    opacity: 0.5;
  }

  &:hover::before {
    background-color: var(--color-primary-600);
    z-index: -1;
  }
}

.save {
  padding: 8px 16px;
  background-color: var(--color-primary-600);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-700);
  }
}
