* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

:root {
  --color-primary-700: #955ab9;
  --color-primary-600: #ac62d9;

  --color-background-700: #3a3b3d;
  --color-background-600: #656669;
}

.App {
  width: 100vw;
  height: 100vh;
}
