.container {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: #65666999;
  transition: 0.2s;
  opacity: 0.7;
  z-index: 2;

  &:hover {
    opacity: 1;
  }
}

.toggle {
  min-width: 100%;
}
