.menuList {
  font-size: 1rem;
  //background-color: #656669;
}

.menuItem {
  position: relative;
  &:hover {
    background-color: var(--color-primary-600) !important;
    color: #ffffff;
  }
}

.importFileButton {
  position: absolute;
  inset: 0;
  opacity: 0;
}
